<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title></title>
    <meta charset="UTF-8">
    <style>
        div {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div>
    Olá {{name}}!
</div>
<div>
    Uma solicitação de redefinição de senha foi solicitada através do nosso sistema. Abaixo está o link para o ambiente
    de redefinição de senha. É só clicar em Redefinir senha!
</div>
<a href="{{link}}" target="_blank" rel="noopener">
    Redefinir senha
</a>
<div>
    Caso não tenha sido você quem solicitou a redefinição de senha, apenas ignore este e-mail. A sua conta permanecerá
    segura.
</div>
<div>Até mais!</div>
<div>
    Caso haja problemas com o link copie e cole no navegador o texto abaixo:
</div>
<div>
    {{link}}
</div>
</body>
</html>